<h2>Products</h2>

<div *ngFor="let product of products">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <a [title]="product.name + ' details'">{{ product.name }}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p *ngIf="product.description" class="card-text">
        {{ product.description }}
      </p>
      <a href="#" class="card-link" (click)="share()">Share</a>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
</div>
